#paint {
  float: left;
  width: 300px;
}

#paint .button {
  margin: auto;
  position: relative;
  z-index: 10;
  padding: 10px;
  border: 1px solid black;
  font-size: 26px;
  text-align: center;
}

#paint .button, #paint .orb-paint:hover {
  cursor: pointer;
}

img.hover-orb {
  transition: none;
  position: absolute;
  z-index: 10;
  pointer-events: none;
  opacity: .5;
}

ul#paint-colors.hidden {
  opacity: 0;
  margin-top: -100px;
}

ul#paint-colors {
  margin-top: 20px;
  opacity: 1;
  transition: 500ms;
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0px;
}

ul#paint-colors:after {
  display: block;
  clear: both;
  content: '';
}

ul#paint-colors li {
  float: left;
}

li.orb-paint img {
  width: 80px;
  height: auto;
}

#game {
  margin: auto;
  width: 540px;
  height: 450px;
  background: black;
  padding: 15px;
}

#board {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('http://pad.dawnglare.com/bg.png');
  background-size: 180px;
}

.orb {
  transition: 50ms;
  position: absolute;
  width: 90px;
  height: 90px;
}

.orb.gravity {
  transition: 600ms;
}

.orb.hover-orb {
  opacity: .8;
}

.orb#clicked {
  opacity: .3;
}

.orb.matched {
  transition: 600ms;
  opacity: 0;
}

.orb.skyfall {
  opacity: 0;
}
