#paint {
  float: left;
  width: 300px;
  text-align: center;
}

img.hover-orb {
  transition: none;
  position: absolute;
  z-index: 10;
  pointer-events: none;
  opacity: .5;
}

#paint-content {
  margin-top: 20px;
  opacity: 1;
  transition: 500ms;
}

ul#paint-colors {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0px;
}

ul#paint-colors:after {
  display: block;
  clear: both;
  content: '';
}

ul#paint-colors li#heart {
  border-radius: 8px;
  padding: 0px;
}

ul#paint-colors li.selected {
  background: lightgray;
}

ul#paint-colors li {
  border-radius: 50px;
  padding: 5px;
  width: 80px;
  height: 80px;
}

li.orb-paint img {
  width: 80px;
  height: auto;
}

#paint textarea {
  padding-left: 20px;
  width: 235px;
  height: 230px;
  font-size: 40px;
  letter-spacing: 15px;
  font-family: monospace;
  resize: none;
}

#apply .button {
  position: relative;
  display: inline-block;
  margin: auto;
  padding: 3px 10px;
  border-radius: 3px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

#apply .button.transition {
  opacity: 0;
  transition: 300ms;
  background: linear-gradient(#AAFFB1, #00AB0D);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;
}

#apply .button.transition.static {
  opacity: 1;
  background: radial-gradient(#AAFFB1 40%, #00AB0D);
}

#apply .button.transition.hover {
  background: radial-gradient(#AAFFB1 50%, #00AB0D);
}

#apply .button.transition.click {
  transition: 200ms;
  background: radial-gradient(#AAFFB1 5%, #00AB0D);
}

#game {
  margin: auto;
  width: 540px;
  height: 450px;
  background: black;
  padding: 15px;
}

#board {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('http://pad.dawnglare.com/bg.png');
  background-size: 180px;
}

.orb {
  transition: 100ms;
  position: absolute;
  width: 90px;
  height: 90px;
}

.orb.hidden {
  opacity: 0;
  transition: 400ms;
}

.orb.gravity {
  transition: 600ms;
}

.orb.hover-orb {
  opacity: .8;
}

.orb#clicked {
  opacity: .3;
}

.orb.matched {
  transition: 600ms;
  opacity: 0;
}

.orb.skyfall {
  opacity: 0;
}
