@import '../../../sass/_settings';

.orb {
  position: absolute;
  left: 0;
  bottom: 0;
  width: $board-width / 6;
  height: $board-width / 6;
  background-size: contain;

  &.red { background-image: url('http://pad.dawnglare.com/Red.png'); }
  &.blue { background-image: url('http://pad.dawnglare.com/Blue.png'); }
  &.green { background-image: url('http://pad.dawnglare.com/Green.png'); }
  &.light { background-image: url('http://pad.dawnglare.com/Light.png'); }
  &.dark { background-image: url('http://pad.dawnglare.com/Dark.png'); }
  &.heart { background-image: url('http://pad.dawnglare.com/Heart.png'); }

  &.dragging {
    z-index: 1;
  }
}
